<md-dialog class="create-dialog">
    <h3>Aggiungi Evento</h3>
    <!-- TODO change fields, fix ng-required -->
    <form name="myTask" ng-submit="myTask.$valid && answer(vm)" >
        <md-content layout-gt-sm="row" md-theme="docs-light" class="nopadding">
        <md-input-container class="md-block" flex-gt-xs="">
            <input ng-model="vm.newItem.name"
                   ng-required="true" size="30"
                   placeholder="Nome dell'evento">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs="">
            <md-datepicker id="date" ng-required="true"
                           ng-model="vm.newItem.date"></md-datepicker>
            <label for="date">Data dell'evento</label>
        </md-input-container>
        </md-content>
        <md-input-container class="md-block" flex-gt-xs="">
            <input ng-model="vm.newItem.category"
                   ng-required="true" size="30"
                   placeholder="Categoria">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs="">
            <input ng-model="vm.newItem.description"
                   ng-required="true" size="30"
                   placeholder="Descrizione">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs="">
            <input type="number" ng-model="vm.newItem.quantity"
                   ng-required="true" size="30"
                   placeholder="# biglietti disponibili">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs="">
            <input type="number" ng-model="vm.newItem.price"
                   ng-required="true" size="30"
                   placeholder="Prezzo biglietto">
        </md-input-container>
        <div layout-align="space-between center">
            <md-button ng-click="myTask.$valid && answer(vm)"
                   class="md-raised md-primary" type="submit">Salva</md-button>
            <md-button ng-click="cancel()" class="md-raised md-warn">annulla</md-button>
        </div>
    </form>
</md-dialog>
