<md-dialog class="create-dialog">
    <h3>Aggiungi Servizio</h3>
    <form name="myService" ng-submit="myService.$valid && answer(vm)" >
        <md-input-container class="md-block" flex-gt-xs="">
            <input ng-model="vm.newItem.service" ng-required="true" size="30" placeholder="Nome Servizio" md-autofocus>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs="">
            <md-select ng-model="vm.newItem.enable" ng-value="0" >
                <md-option ng-value="1" ng-selected="true" >Abilitato</md-option>
                <md-option ng-value="0">Disabilitato</md-option>
            </md-select>
        </md-input-container>

        <md-button ng-click="myTask.$valid && answer(vm)" class="md-raised md-primary" type="submit">Salva</md-button>
        <md-button ng-click="cancel()" class="md-raised md-warn">Close</md-button>
    </form>
</md-dialog>

