<md-dialog class="create-dialog">
    <form name="myService" ng-submit="myService.$valid && answer(vm)" >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add contanct</h2>
            </div>
        </md-toolbar>
        <md-dialog-content >
        <md-tabs md-dynamic-height md-border-bottom md-selected="vm.selectedCreateTab" md-align-tabs="top">
            <md-tab id="firstTab" label="Contact infos">
                <md-content>
                    <md-input-container class="md-block" flex-gt-xs="">
                        <input ng-model="vm.newItem.name" ng-required="true" size="30" placeholder="Name" md-autofocus>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="">
                        <input ng-model="vm.newItem.phone" ng-required="true" size="30" placeholder="Phone" md-autofocus>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="">
                        <md-select ng-model="vm.newItem.forever" ng-value="0" >
                            <md-option ng-value="1" ng-selected="true" >Authorized forever</md-option>
                            <md-option ng-value="0">Authorization scheduled</md-option>
                        </md-select>
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab id="secondTab" label="Schedule" ng-class="animated" ng-if="vm.newItem.forever < 1">
            <md-content>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs="">
                            <md-datepicker ng-model="vm.newItem.startDate" ng-required="vm.newItem.forever < 1" size="30" placeholder="Start date"></md-datepicker>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs="">
                            <md-datepicker ng-model="vm.newItem.endDate" ng-required="vm.newItem.forever < 1" size="30" placeholder="End date" md-autofocus></md-datepicker>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row" ng-repeat="weekDay in vm.weekDays">
                        <md-input-container class="md-block" flex-gt-xs="">
                            <label>
                                {{weekDay}}
                            </label>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs="">
                            <md-switch class="md-primary" md-invert 
                                ng-model="vm.newItem.schedule[weekDay].enabled" 
                                ng-model="vm.newItem.schedule[weekDay].enabled = false" 
                                ng-required="!vm.atLeastOneEnabled(vm.newItem)"
                                aria-label="{{weekDay}}">
                            </md-switch>
                        </md-input-container>
                        <md-input-container class="" flex-gt-xs="">
                            <input type="time" ng-model="vm.newItem.schedule[weekDay].startTime" 
                                ng-required="vm.newItem.schedule[weekDay].enabled" 
                                ng-disabled="!vm.newItem.schedule[weekDay].enabled" 
                                placeholder="start time" 
                                md-autofocus>
                        </md-input-container>
                        <md-input-container class="" flex-gt-xs="">
                            <input type="time" ng-model="vm.newItem.schedule[weekDay].endTime"
                                ng-required="vm.newItem.schedule[weekDay].enabled"
                                ng-disabled="!vm.newItem.schedule[weekDay].enabled"
                                placeholder="end time"
                                md-autofocus>
                        </md-input-container>
                    </div>
                    <md-button ng-show="vm.newItem.forever > 0" ng-click="myTask.$valid && answer(vm)" class="md-raised md-primary" type="submit">Save</md-button>
            </md-content>
            </md-tab>
        </md-tabs>
            <md-button ng-click="cancel()" class="md-raised md-warn">Close</md-button>
            <md-button ng-disabled="!myService.$valid" ng-click="myTask.$valid && answer(vm)" class="md-raised md-primary" type="submit">Save</md-button>
        </md-dialog-content>
    </form>
</md-dialog>

