<div>
    <md-content class="md-padding scroll tab-content">
        <md-table-container>
            <table md-table>
                <md-input-container class="md-block" flex-gt-xs="" style="transform: scale(0.99)">
                    <input type="text" ng-model="item.q" placeholder="Search Event">
                </md-input-container>
                <thead md-head md-order="filter" ng-show="customListCtrlTickets.items.length > 0">
                <tr md-row>
                    <th md-column md-order-by="id"><span>Ticket ID</span></th>
                    <th md-column md-order-by="ticketHolder"><span>Nome intestatario</span></th>
                    <th md-column md-order-by="event"><span>Evento</span></th>
                    <th md-column md-order-by="user"><span>Acquistato da</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="item in customListCtrlTickets.items | orderBy: filter | filter:item.q as results"
                    ng-class="customListCtrlTickets.selectedItem.indexOf(item) != -1 ? 'selected': ''"
                    ng-click="customListCtrlTickets.toggleSelection(item)" >
                <span class="animate-repeat" ng-if="customListCtrlTickets.items.length == 0">
                    <strong>No events founds.</strong>
                </span>
                    <td md-cell>{{item._id}}</td>
                    <td md-cell>{{item.ticketHolder}}</td>
                    <td md-cell>{{item.eventDetails.name}}</td>
                    <td md-cell>{{item.userDetails.name}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
</div>
</md-content>
